.flex-container {
    width: 70%;
    max-width: 60rem;
    border: 5px solid #000;
    padding: 2em;
    /* 
        actual display has two vals
        when declares a ele to display:flex,
        the outer becomes block 
        the inner becomes a flex-container
    */
    display: flex;
}

.flex-item {
    /* 
         they shrinks to the content
     */
    margin: 0.5rem;
    border: 5px solid #aaa;
    background-color: #000;
    color: #fff;
    padding: 0.53em;
}